body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}
.verticalLine {
  border-right: thin solid white;
}

.transparent {

}

/*
.navborderradius {
  border-radius: 15px;
}
*/
